@charset "utf-8";
body, html
{
	width:1440px;
	font-size:11px;
}
input
{
		background:url(../images/inputbox.jpg) repeat-x;

}
.hache1
{
	height:37px;
	background:url(../images/h1h2.jpg) center no-repeat;
	line-height:37px;
}
label
{
	width:161px;
}

/*partie banniere */
.banniere
{
		background:url(../images/banniere.jpg) center no-repeat;

	width:1440px;
	height:198px;
	padding:0px;
}
.global 
{
		background:url(../images/boiserie.jpg) repeat-y;

}
.coinhaut
{
	background:url(../images/coinhaut.gif) no-repeat;
}
.hautban
{
	height:232px;
}

.conteneur
{
	width:1141px;
}
.coinhaut
{
	height:9px;
}
.corps
{
	background:url(../images/cuir.gif) repeat-y;

}
.encadrepage
{
	background:url(../images/encadrepage-border.jpg) repeat-y center;
}
.encadrepage-haut
{
	background: url(../images/encadrepage-haut.jpg) no-repeat center;
}
.encadrepage-bas
{
	background:url(../images/encadrepage-bas.jpg) no-repeat center;
}
.blocpage
{
	background:url(../images/blocpage-border.jpg) repeat-y center;
}
.blocpage-haut
{
	background:url(../images/blocpage-haut.jpg) center no-repeat;
}
.blocpage-bas
{
	background:url(../images/blocpage-bas.jpg) center bottom no-repeat;
}
.modnews
{
	background:url(../images/newsmod/modnews-border.jpg) repeat-y;
}
.modnews-haut
{
	background:url(../images/newsmod/modnews-haut.jpg) no-repeat;
}
.modnews-bas
{
	background:url(../images/newsmod/modnews-bas.jpg) no-repeat;
}
.blocnews
{
	background:url(../images/newsmod/blocnews-border.jpg) repeat-y;	
}
.blocnews-haut
{
	background:url(../images/newsmod/blocnews-haut.jpg) no-repeat;
}
.blocnews-bas
{
	background:url(../images/newsmod/blocnews-bas.jpg) no-repeat bottom;
}
.blocnews-titre
{
	background:url(../images/newsmod/blocnews-titre.jpg) no-repeat bottom left;
}
.news-lien
{
	background:url(../images/newsmod/news-lien.jpg) no-repeat;
}
.modvote
{
	background:url(../images/topvotes/topvotes.jpg) no-repeat right;
}
.modrecup-bas
{
}


.modrecup
{
}.modtwit
{
	background: url(../images/twitter/modtwit-border.jpg) repeat-y;
}
.modtwit-haut
{
	background: url(../images/twitter/modtwit-haut.jpg) no-repeat;
}
.modtwit-bas
{
	background: url(../images/twitter/modtwit-bas.jpg) no-repeat bottom;
}
.modtwit-titre
{
	background:url(../images/twitter/modtwit-titre.jpg) bottom left no-repeat;
}.modevents
{
	background: url(../images/twitter/modtwit-border.jpg) repeat-y;

}
.modevents-haut
{
	background:url(../images/twitter/modtwit-haut.jpg) no-repeat;
}
.modevents-bas
{
	background:url(../images/twitter/modtwit-bas.jpg) no-repeat bottom left;
}.uptimemod
{
	background:url(../images/uptime/bordermod.jpg) repeat-y;
}
.uptimemod-haut
{
	background:url(../images/uptime/hautmod.jpg) no-repeat;
}
#infopop_0
{
	background:url(../images/uptime/infos_0.jpg) center top no-repeat;
}
#infopop_10
{
	background:url(../images/uptime/infos_10.jpg) center top no-repeat;
}
#infopop_20
{
	background:url(../images/uptime/infos_20.jpg) center top no-repeat;
}
#infopop_30
{
	background:url(../images/uptime/infos_30.jpg) center top no-repeat;
}
#infopop_40
{
	background:url(../images/uptime/infos_40.jpg) center top no-repeat;
}
#infopop_50
{
	background:url(../images/uptime/infos_50.jpg) center top no-repeat;
}
#infopop_60
{
	background:url(../images/uptime/infos_60.jpg) center top no-repeat;
}
#infopop_70
{
	background:url(../images/uptime/infos_70.jpg) center top no-repeat;
}
#infopop_80
{
	background:url(../images/uptime/infos_80.jpg) center top no-repeat;
}
#infopop_90
{
	background:url(../images/uptime/infos_90.jpg) center top no-repeat;
}
#infopop_100
{
	background:url(../images/uptime/infos_100.jpg) center top no-repeat;
}

.uptimemod-infos
{
	background:url(../images/uptime/infos.jpg) center top no-repeat;
}
.uptimemod-realm
{
	background:url(../images/uptime/realmbg.jpg) no-repeat bottom;
}
.mainmenuh
{
	background:url(../images/mainmenuh.jpg) no-repeat;
}
.mainmenu, .usermenu
{
	background:url(../images/mainmenu.jpg) repeat-y;
}
.onglet1
{
	background:url(../images/onglet1.jpg) no-repeat;
}

.onglet2
{
	background:url(../images/onglet2.jpg) no-repeat;
}
.mainmenub
{
	background:url(../images/mainmenub.jpg) no-repeat;	
}
.modtopareneh2
{
	background:url(../images/toparene/toph2.jpg) no-repeat;
}
.modtopareneally
{
	background:url(../images/toparene/topally.jpg) no-repeat;
}
.pied
{
	background: url(../images/oni.gif) no-repeat right;
}.coinbas
{
	background:url(../images/coinbas.gif) no-repeat;
}
.pagenews
{
	background:url(../images/pagenews/pagenews-border.gif) repeat-y;
}.pagenews-haut
{
	background:url(../images/pagenews/pagenews-haut.gif) no-repeat;
}
.pagenews-bas
{
background:url(../images/pagenews/pagenews-bas.gif) no-repeat bottom;
}
.cat-tech
{
	background:url(../images/pagenews/cat-technique.jpg) no-repeat;
}
.cat-boutique
{
	background:url(../images/pagenews/cat-boutique.jpg) no-repeat;
}
.cat-communaute
{
	background:url(../images/pagenews/cat-communaute.jpg) no-repeat;
}
.cat-events
{
	background:url(../images/pagenews/cat-events.jpg) no-repeat;
}

.barre-haut
{
	height:45px;
	width:1110px;
}
/* login et menu utilisateur */
.moduser
{	
height:48px;
width:675px;
}
.formulaires
{
	line-height:24px;
}
.page
{
	width:1125px;
	margin-left:8px;
	margin-right:15px;
}
.encadrepage
{
	width:951px;
}
.encadrepage-haut
{
	height:42px;
	margin-bottom:7px;
}
.encadrepage-titre
{
	height:33px;
}
.encadrepage-bas
{
	height:24px;
}
.blocpage
{
	width: 931px;
}
.blocpage-haut
{
	height:12px;
}
.blocpage-bas
{
	min-height:147px;
}
.blocpage-texte
{
}
.titre-faq
{
	height:15px;
}
.titre-faq a
{
	line-height:15px;
	margin-left:15px;
}
.texte-faq
{
}
.colonnegauche
{
	width:545px;
}
.leftcolumn
{
	width:637px;
}
.rightcolumn
{
	width:487px;
}
/*flash image rotator */
.flashbanner
{
	height:292px;
	width:637px;
}
#wrap div.content,#content1,#content2,#content3
{
	margin-bottom:11px;
}
/*module de news */

.modnews
{
	margin-left:7px;
}
.modnews-haut
{
	height:32px;
}
.modnews-bas
{
	height:13px;
}
.blocnews
{
	width:600px;
	margin-left:9px;
}
.blocnews-haut
{
	height:11px;
}
.blocnews-bas
{
	min-height:123px;
}
.blocnews-cadre
{
margin:11px;

}
.blocnews-img
{
	width:127px;
	height:67px;
	padding-right:11px;
}
.blocnews-titre
{
	font-size:9px;
	height:22px;
	margin-left:3px;
	width:436px;
}
.blocnews-texte
{
	margin-top:7px;
	margin-bottom:15px;
}
.blocnews-infos
{
	padding:30px;
}
.news-lien
{
	height:37px;
	width:509px;
}
.news-lien a
{
	font-size:9px;
	line-height:27px;
}

/* colonne du milieu */

/* espace vertical entre modules */
.spacer
{
	height:18px;
}

.colonnemilieu
{
	width:393px;
	margin-left:9px;
}
/* module pour les videos */
.modvideo
{
	width:384px;
}

.modgoule
{
	height:263px;
	width:150px;
}
.modgoule img
{
	margin-left:150px;
	margin-top:150px;
}

/*meilleur voteur */

.topvote
{
	background:url(../../1920/images/topvotes/topvotes.jpg) no-repeat;
	width:300px;
	height:120px;
}
/*module rejoignez nous */

.modrecup
{
	width:304px;
}
.modrecup-haut
{
	height:149px;
}
.modrecup-bas
{
	padding:11px;
}
.modrecup-texte
{
}
.modrecup a
{
	line-height:7px;
}

/* module twitter */
.modtwit
{
	width:465px;
}
.modtwit-haut
{
	height:10px;
}
.modtwit-bas
{
	padding:11px;
	line-height:10px;
	font-size:10px;
}
.modtwit-bas a
{
}
.modtwit-titre
{
	margin-right:27px;
	height:25px;
}
.modtwit-lien
{
	margin-left:22px;
}
.modtwit-lien a
{
}
/* module events */

.modevents-haut
{
	height:11px;
}
.modevents-bas
{
	padding:11px;
}
.modevents a
{
	line-height:8px;
}
.modevents img
{
	margin-left:4px;
}
.modevents-texte 
{
	width:435px;
}

/* la colonne de droite */

.colonnedroite
{
	width:165px;
}
/*module d'infos serveur */
.modserv
{
	width:305px;
}

.uptimemod
{
	width:161px;
}
.uptimemod-haut
{
	height:9px;
}
.uptimemod-infos
{
	margin-left:11px;
	line-height:15px;
	margin-bottom:11px;
	font-size:11px;
}
.uptimemod-realm
{
	height:41px;
	line-height:9px;
}
.nbjoueurs
{
	line-height:27px;
	height:75px;
	font-size:10px;
}
.nballyh2
{
	margin-left:30px;
	height:45px;
	line-height:33px;
	font-size:9px;
}
.uptimemod-bas
{
	height:36px;
}

/* menu principal */

.mainmenuh
{
	height:18px;
}
.mainmenu, .usermenu
{
	width:172px;
}
.menuprincipal
{
	width:137px;
}
.onglet1
{
	height:29px;
}
.onglet1 a
{
	line-height:31px;
}
.onglet2
{
	height:18px;
}
.onglet2 a
{
	line-height:18px;
}
.menuprincipal a
{
	font-size:10px;
}
.mainmenub
{
	height:11px;
}
/* realmlist */

/* module top arene horde et allys */
.modtopareneh2
{
	width:163px;
	height:126px;
}
.modtopareneally
{
	width:163px;
	height:126px;
}
.modtoparene-stats
{
	width:135px;
	height:90px;
	line-height:27px;
	font-size:8px;
	
}
/* pied de page */
.pied
{
	width:1138px;
	height:63px;
}
.menubas
{
	font-size:8px;
	height:15px;
	padding-top:48px;
	width:375px;
}
.coinbas
{
	height:9px;
	width:1141px;
}

.copyright
{
	font-size:7px;
	width:600px;
	padding-top:15px;
}
/* page de news */
.pagenews
{
	width:920px;
}
.pagenews-haut
{
	height:7px;
}
.pagenews-bas
{
	height:7px;
}
.pagenews-filtres
{
	padding-top:11px;
	height:30px;
	width:900px;
}
.pagenews-select 
{
	width:15%;	
}

.pagenews-titre
{
	width:892px;
	height:44px;
}
.pagenews-texte
{
	margin:18px;
}
.pagenews-texte img
{
	padding:7px;
}
.catmodnews_events
{
	background:url(../images/newsmod/cat_events.jpg) no-repeat;
}
.catmodnews_tech
{
	background:url(../images/newsmod/cat_tech.jpg) no-repeat;
}

.catmodnews_shop
{
	background:url(../images/newsmod/cat_shop.jpg) no-repeat;
}

.catmodnews_comm
{
	background:url(../images/newsmod/cat_comm.jpg) no-repeat;
}